mixin textarea (label, required)
  label(for=label) #{label}
    if !required
      | &nbsp;#[small Optional]
  textarea(name=label id=label required=required)
  if errors && errors[label]
    label(for=label).error= errors[label]

mixin radio (label, name, required)
  label(for=`${name}-${label}`).tighter
    input(type='radio' name=name id=`${name}-${label}` required=required value=label)
    | #{label}
