mixin textarea (label, required)
  label(for=label) #{label}#{required ? '' : ' #[em (optional)]'}
  textarea(name=label id=label required=required)

mixin radio (label, id, required)
  label(for=id) #{label}
  input(type='radio' name=id id=id required=required)
